@model AppVendas.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h1 class="display-5 text-light text-center">Apagar cadastro de produto</h1>

<h3 class="mt-3 mb-3">Deseja excluir esse cadastro?</h3>
<div>

    <dl class="row">
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.ProdutoNome)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.QtadeEstoque)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.QtadeEstoque)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.CadastroAtivo)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.CadastroAtivo)
        </dd>
        <dt class="col-3">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-9">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="row"></div>
        <div class="col-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3">
                    <ion-icon name="save" class="me-2"></ion-icon> Salvar
                </button>
            </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <a asp-action="Index" class="btn btn-outline-info d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3">
                <ion-icon name="arrow-back" class="me-2"></ion-icon>Voltar
            </a>
        </div>
    </form>
</div>
